
body{
    font-family: "Arial", "Helvetica", sans-serif;
}

h2{
    font-size: 18px;
    padding: 10px 20px;
    text-align: center;
}

#area{
    max-width: 300px;
    margin: 30px auto;
    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 2px;
}

#area-window{
    height: 400px;
    overflow: auto;
    background: #f9f9f9;
}

#output p{
    padding: 14px 0px;
    margin: 0 20px;
    color: #555;
    background: #f9f9f9;
    text-align: center;
}

#output img{
    background: #f9f9f9;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#feedback p.problem{
    color: #a33a9d;
    padding: 14px 0px;
    margin: 0 20px;
}

#feedback p{
    color: #aaa;
    padding: 14px 0px;
    margin: 0 20px;
}

.problem-color {
    color: #a33a9d;
}

#output strong{
    color: #575ed8;
}

.phone-color {
    color: #8e7cc3;
}

.mirror-color {
    color: #6d9eeb;
}

.phone-background {
    background: #8e7cc3;
}

.mirror-background {
    background: #6d9eeb;
}


label{
    box-sizing: border-box;
    display: block;
    margin: 10px auto;
    width: 80%;
    color: #888;
}

input{
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eee;
    display: block;
    margin: 10px auto;
    width: 80%;
    background: #fff;
    border-bottom: 1px solid #eee;
    font-size: 16px;
}

button{
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 80%;
    display: block;
    margin: 10px auto;
    border-radius: 8px;
    outline: none;
}
